<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
</head>
<body>
	<%- header %>
	<div class="clearfix"></div>
        <main class="container">
		<section class="about">
		    <h1>About Us</h1>
		    <p>Welcome to our website! We are a team dedicated to providing quality products/services.</p>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec feugiat velit, sit amet luctus ipsum. Nulla efficitur sapien a dui pretium, nec euismod metus consectetur.</p>
		    <p>Nulla non malesuada nibh. Etiam posuere lectus quis odio suscipit, nec consectetur dui consequat. Phasellus id nunc id nisl fermentum consequat.</p>
		    <p>Nulla non malesuada nibh. Etiam posuere lectus quis odio suscipit, nec consectetur dui consequat. Phasellus id nunc id nisl fermentum consequat.</p>
		    <p>Nulla non malesuada nibh. Etiam posuere lectus quis odio suscipit, nec consectetur dui consequat. Phasellus id nunc id nisl fermentum consequat.</p>
		    <p>Nulla non malesuada nibh. Etiam posuere lectus quis odio suscipit, nec consectetur dui consequat. Phasellus id nunc id nisl fermentum consequat.</p>
		    <p>Nulla non malesuada nibh. Etiam posuere lectus quis odio suscipit, nec consectetur dui consequat. Phasellus id nunc id nisl fermentum consequat.</p>
		    <p>Nulla non malesuada nibh. Etiam posuere lectus quis odio suscipit, nec consectetur dui consequat. Phasellus id nunc id nisl fermentum consequat.</p>
		</section>
	    </main>
    <%- footer %>
</body>
</html>